.row{
    background-color:  #EFB7EA;;
}
footer{
    color: black;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 2px 2px 10px rgb(99, 99, 99);
}