  <div class="row" id="N">  
    <!--Estamos ubicando los parrafos class="col-xs-12 col-sm-2 col-md-2 col-lg-2"-->
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/op3.jpg" class="img-fluid" id="FotoPerfil"> <!-- aca tengo que agregar mi foto de perfil-->
    </div>

    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <P id="nombre"></P>
        <p>Full stack Developer Jr</p>
    </div>

    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí:</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora blanditiis itaque architecto? Doloribus iusto praesentium reprehenderit iure, placeat dolorem quod explicabo excepturi necessitatibus optio libero eos officia dolorum minima ipsam!</p>
        </span>
    </div>

  </div>

