<div class="row">
  <h1>Experiencia Laboral</h1>
  <div class="col-lg-11 ">
    <ul>
        <li><h1>Trabajo 1</h1> - <h3>(años)</h3></li>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit at vero voluptatem eligendi consequuntur minima officiis est temporibus similique dolores ipsam reiciendis blanditiis, vitae repellat neque, et animi numquam delectus!</p>
    </ul>
    <ul>
        <li><h1>Trabajo 2</h1> - <h3>(años)</h3></li>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit at vero voluptatem eligendi consequuntur minima officiis est temporibus similique dolores ipsam reiciendis blanditiis, vitae repellat neque, et animi numquam delectus!</p>
    </ul>
    <ul>
        <li><h1>Trabajo 3</h1> - <h3>(años)</h3></li>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit at vero voluptatem eligendi consequuntur minima officiis est temporibus similique dolores ipsam reiciendis blanditiis, vitae repellat neque, et animi numquam delectus!</p>
    </ul>
    <ul>
        <li><h1>Trabajo 4</h1> - <h3>(años)</h3></li>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit at vero voluptatem eligendi consequuntur minima officiis est temporibus similique dolores ipsam reiciendis blanditiis, vitae repellat neque, et animi numquam delectus!</p>
    </ul>
  </div>
</div>